{#
/**
 * @file
 * Default theme implementation for the cmap get quote form..
 *
 * @ingroup cmap-quote
 */
#}

{% set help_circle %}
  <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-334.000000, -273.000000)">
        <g transform="translate(129.000000, 184.000000)">
          <g transform="translate(205.000000, 89.000000)">
            <circle class="help-link-circle" fill="#BC3B93" fill-rule="nonzero" cx="7.5" cy="7.5" r="7.5"></circle>
            <text font-family="MuseoSansRounded-700, Museo Sans Rounded" font-size="10" font-weight="500" fill="#FFFFFF">
              <tspan x="5.655" y="11">?</tspan>
            </text>
          </g>
        </g>
      </g>
    </g>
  </svg>
{% endset %}
{# Form internal use#}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="purchaseList row">

  <div class="small-12 medium-4 get-quote-section columns">
    {% if form.traveller.destinations_heading and form.traveller.destinations_help %}
      <div class="text--inline">
    {% endif %}
    {% if form.traveller.destinations_heading %}
      <h2>{{ form.traveller.destinations_heading }}</h2>
    {% endif %}
    {% if form.traveller.destinations_help %}
      <a href="#help-destination" aria-label="{{ 'More information'|t }}" class="help">{{ help_circle }}</a>
      <div id="help-destination" class="modal">
        <div class="scrollable-content">
          {{ form.traveller.destinations_help }}
        </div>
      </div>
    {% endif %}
    {% if form.traveller.destinations_heading and form.traveller.destinations_help %}
      </div>
    {% endif %}
    {# Regions select box #}
    {{ form.traveller.destinations }}

    {# Agency  location start #}
    {% if form.traveller.agency_location_heading and form.traveller.agency_location_help %}
      <div class="text--inline">
    {% endif %}
    {% if form.traveller.agency_location_heading %}
      <h2>{{ form.traveller.agency_location_heading }}</h2>
    {% endif %}
    {% if form.traveller.agency_location_help %}
      <a href="#help-agency-location" class="help">{{ help_circle }}</a>
      <div id="help-agency-location" class="modal">
        <div class="scrollable-content">
          {{ form.traveller.agency_location_help }}
        </div>
      </div>
    {% endif %}
    {% if form.traveller.agency_location_heading and form.traveller.agency_location_help %}
      </div>
    {% endif %}
    {{ form.traveller.agency_location }}
    {# Agencyå  location end #}


    {# Agency  name start #}
    {% if form.traveller.agency_name_heading and form.traveller.agency_name_help %}
      <div class="text--inline">
    {% endif %}
    {% if form.traveller.agency_name_heading %}
      <h2>{{ form.traveller.agency_name_heading }}</h2>
    {% endif %}
    {% if form.traveller.agency_name_help %}
      <a href="#help-agency-name" class="help">{{ help_circle }}</a>
      <div id="help-agency-name" class="modal">
        <div class="scrollable-content">
          {{ form.traveller.agency_name_help }}
        </div>
      </div>
    {% endif %}
    {% if form.traveller.agency_name_heading and form.traveller.agency_name_help %}
      </div>
    {% endif %}
    {{ form.traveller.agency_name }}
  </div>


  <div class="small-12 medium-4 get-quote-section columns">
    {% if form.traveller.dep_date_heading and form.traveller.dep_date_help %}
      <div class="text--inline">
    {% endif %}
    {% if form.traveller.dep_date_heading %}
      <h2>{{ form.traveller.dep_date_heading }}</h2>
    {% endif %}
    {% if form.traveller.dep_date_help %}
      <a href="#help-dep-date" class="help" aria-label="{{ 'More information'|t }}" data-fancybox>{{ help_circle }}</a>
      <div id="help-dep-date" class="modal">
        <div class="scrollable-content">
          {{ form.traveller.dep_date_help }}
        </div>
      </div>
    {% endif %}
    {% if form.traveller.dep_date_heading and form.traveller.dep_date_help %}
      </div>
    {% endif %}
    {# Dep Date #}
    {{ form.traveller.dep_date }}
    {# Return Date #}
    {% if form.traveller.return_date %}
      {% if form.traveller.return_date_heading and form.traveller.return_date_help %}
        <div class="text--inline">
      {% endif %}
      {% if form.traveller.return_date_heading %}
        <h2>{{ form.traveller.return_date_heading }}</h2>
      {% endif %}
      {% if form.traveller.return_date_help %}
        <a href="#help-return-date" class="help" data-fancybox>{{ help_circle }}</a>
        <div id="help-return-date" class="modal">
          <div class="scrollable-content">
            {{ form.traveller.return_date_help }}
          </div>
        </div>
      {% endif %}
      {% if form.traveller.return_date_heading and form.traveller.return_date_help %}
        </div>
      {% endif %}
      {{ form.traveller.return_date }}
    {% endif %}
  </div>

  <div class="small-12 medium-4 get-quote-section columns ageHolder">

    {% if form.traveller.resident %}
      <div class="quote-block--resident">
        {% if form.traveller.resident_heading and form.traveller.resident_help %}
        <div class="text--inline">
          {% endif %}
          {% if form.traveller.resident_heading %}
            <h2>{{ form.traveller.resident_heading }}</h2>
          {% endif %}
          {% if form.traveller.resident_help %}
            <a href="#help-resident" class="help" aria-label="{{ 'More information'|t }}" data-fancybox>{{ help_circle }}</a>
            <div id="help-resident" class="modal">
              <div class="scrollable-content">
                {{ form.traveller.resident_help }}
              </div>
            </div>
          {% endif %}
          {% if form.traveller.resident_heading and form.traveller.resident_help %}
        </div>
        {% endif %}
        {# Resident #}
        {{ form.traveller.resident }}
      </div>
    {% endif %}

    {% if form.traveller.age %}
      <div class="quote-block--age">
        {% if form.traveller.age_heading and form.traveller.age_help %}
          <div class="text--inline">
        {% endif %}
        {% if form.traveller.age_heading %}
          <h2>{{ form.traveller.age_heading }}</h2>
        {% endif %}
        {% if form.traveller.age_help %}
          <a href="#help-age" class="help" data-fancybox>{{ help_circle }}</a>
          <div id="help-age" class="modal">
            <div class="scrollable-content">
              {{ form.traveller.age_help }}
            </div>
          </div>
        {% endif %}
        {% if form.traveller.age_heading and form.traveller.age_help %}
          </div>
        {% endif %}
        {# Ages #}
        {{ form.traveller.age }}
      </div>
    {% endif %}

    {% if form.traveller.trip_cost %}
      <div class="quote-block--trip-cost">
        {% if form.traveller.trip_cost_heading and form.traveller.trip_cost_help %}
          <div class="text--inline">
        {% endif %}
        {% if form.traveller.trip_cost_heading %}
          <h2>{{ form.traveller.trip_cost_heading }}</h2>
        {% endif %}
        {% if form.traveller.trip_cost_help %}
          <a href="#help-trip_cost" class="help" data-fancybox>{{ help_circle }}</a>
          <div id="help-trip_cost" class="modal">
            <div class="scrollable-content">
              {{ form.traveller.trip_cost_help }}
            </div>
          </div>
        {% endif %}
        {% if form.traveller.trip_cost_heading and form.traveller.trip_cost_help %}
          </div>
        {% endif %}
        {# Resident #}
        {{ form.traveller.trip_cost }}
      </div>
    {% endif %}
  </div>
</div>

<div class="row button-well">
  {% if form.traveller.promocode %}
    <div class="quote-block--promocode small-12 get-quote-section medium-4 medium-offset-4 columns">
      {% if form.traveller.promocode_heading and form.traveller.promocode_help %}
        <div class="text--inline">
      {% endif %}
      {% if form.traveller.promocode_heading %}
        <h2>{{ form.traveller.promocode_heading }}</h2>
      {% endif %}
      {% if form.traveller.promocode_help %}
        <a href="#help-promocode" class="help" data-fancybox>{{ help_circle }}</a>
        <div id="help-promocode" class="modal">
          <div class="scrollable-content">
            {{ form.traveller.promocode_help }}
          </div>
        </div>
      {% endif %}
      {% if form.traveller.promocode_heading and form.traveller.promocode_help %}
        </div>
      {% endif %}
      {{ form.traveller.promocode }}
    </div>
  {% endif %}

  {# Member start#}
  {% if form.traveller.member %}
    <div class="quote-block--membership small-12 get-quote-section medium-4 medium-offset-4 columns">
      {% if form.traveller.member_heading and form.traveller.member_help %}
        <div class="text--inline">
      {% endif %}
      {% if form.traveller.member_heading %}
        <h2>{{ form.traveller.member_heading }}</h2>
      {% endif %}
      {% if form.traveller.member_help %}
        <a href="#help-member" class="help" data-fancybox>{{ help_circle }}</a>
        <div id="help-member" class="modal">
          <div class="scrollable-content">
            {{ form.traveller.member_help }}
          </div>
        </div>
      {% endif %}
      {% if form.traveller.member_heading and form.traveller.member_help %}
        </div>
      {% endif %}
      {{ form.traveller.member }}
    </div>
  {% endif %}

  {#  Membership number start #}
  {% if form.traveller.member_number %}
    {% set hide = '' %}
    {% if form.traveller.member_number_dependent %}
      {% set hide = 'hide' %}
    {% endif %}
    <div class="quote-block--membership small-12 get-quote-section medium-4 medium-offset-4 columns {{ hide }}">
      {% if form.traveller.member_number_heading and form.traveller.member_number_help %}
        <div class="text--inline">
      {% endif %}
      {% if form.traveller.member_number_heading %}
        <h2>{{ form.traveller.member_number_heading }}</h2>
      {% endif %}
      {% if form.traveller.member_number_help %}
        <a href="#help-membership" class="help" data-fancybox>{{ help_circle }}</a>
        <div id="help-membership" class="modal">
          <div class="scrollable-content">
            {{ form.traveller.member_number_help }}
          </div>
        </div>
      {% endif %}
      {% if form.traveller.member_number_heading and form.traveller.member_number_help %}
        </div>
      {% endif %}
      {{ form.traveller.member_number }}
    </div>
  {% endif %}
  {#  Membership number end #}

  {# Trip total cost start #}
  {%  if form.traveller.trip_total_cost %}
    <div class="js-total-trip small-12 get-quote-section medium-4 medium-offset-4 columns trip-total-cost">
      <span class="js-total-trip-label"> {{ 'Total trip cost: @prefix'|t({'@prefix': form.traveller.trip_total_cost['#preffix'] }) }}</span>
      <span class="js-total-trip-price">{{ form.traveller.trip_total_cost|without('#prefix', '#suffix') }}</span>
    </div>
  {% endif %}
  {# Trip total cost end #}

  {% block submitblock %}
  <div class="small-12 medium-4 columns get-quote-section end">
    {# Submit #}
    {{ form.submit }}

    {% if form.confirm.confirm_message %}
      <div id="quote_confirm_content" class="modal">
        <div class="scrollable-content">
          {{ form.confirm.confirm_message }}
        </div>
      </div>
    {% endif %}
  </div>
  {% endblock %}
</div>
