{{ attach_library('cmap_quote/payment') }}
{# Form internal use#}
<h1>{{ form.title }}</h1>
{{ form.paymentinfo }}
{{ form|without(
  'paymentinfo',
  'payment_form',
  'combine',
  'agree',
  'claim',
  'authorise',
  'confirm',
  'back_modify',
  'submit',
  'title',
  'declaration_error_message'
) }}

<h2>{{ 'Payment Information'|t }}</h2>
{{ form.payment_form }}

<h2>{{ 'Declarations'|t }}</h2>

{# Please do not remove/change id js is written. #}
<div id="payment-disclamer-boxes-wrap" >
  {% if form.declaration_description %}
    <div class="payment-declaration-description"><p>{{ form.declaration_description }}</p></div>
  {% endif %}
  <ol class="purchaseList">
    <li>
      <fieldset>
        <legend></legend>
        <ul class="declarations">
          {% for fieldName, Weight in form['#sortedFields'] %}
          <li>
            {# Disclaimer checkbox 1. #}
            {{ form[fieldName] }}
          </li>
          {% endfor %}
        </ul>
      </fieldset>
    </li>
  </ol>
</div>

{# Error message for declaration. #}
<div class="payment-error-wrap error hide">
  {% if form.declaration_error_message %}
    {{ form.declaration_error_message }}
  {% else %}
    {{ 'We regret that we are only able to offer you travel insurance if you complete the attached declarations. Please contact us if you are unable to do so.'|t }}
  {% endif %}
</div>


<div class="button-well">
  {# back & modify link. #}
  {{ form.back_modify }}

  {# pay now button. #}
  {{ form.submit }}
</div>
