<div id="quote-summary">
  {% if path('<current>') == '/confirmation' %}
    <div id="purchase-path-waypoint" class="progress-bar">
    </div>
    <div id="quote-summary-cont" class="row quote-summary">
    </div>
  {% else %}
    <div id="purchase-path-waypoint" class="progress-bar">
      <ul class="row">
        <li class="active">{{ "Get Quote"|t }}</li>
        {% for route in active_route %}
          {% if route.menu_title %}
            <li class="{{ route.active }}">{{ route.menu_title }}</li>
          {% endif %}
        {% endfor %}
        <li class="c-trip-info__head quote-summary-link">
          {% if tripInfo.totalPrice %}
            {{ tripInfo.totalPrice.price }}
          {% else %}
            {{ 'My Trip'| t }}
          {% endif %}
        </li>
      </ul>
      <div class="row expand-details-wrapper quote-summary-link">
        <button class="expand-details" aria-label="{{ "My Trip menu item collapsed"|t }}"><span class="show-for-sr">{{ "See More"|t }}</span></button>
      </div>
    </div>

    <div id="quote-summary-cont" class="row quote-summary">
      <div class="c-trip-info hide">
        <div class="c-trip-info__details">
          <span class="edit-details">{{ edit }}</span>
          <h4 class="trip-info--prices--header destinations">
            {% trans %}
            Destination
            {% plural tripInfo.destinationsCount %}
            Destinations
            {% endtrans %}:
          </h4>
          <span class="c-trip-info__destination">
            {{ tripInfo.destinations }}
          </span>
          <h4 class="trip-info--prices--header">{{ 'Travel Dates'| t }}:</h4>
          <div class="c-trip-info-dates">
            {% if tripInfo.departureDate %}
              <span class="c-trip-dep-date">{{ tripInfo.departureDate  }}</span>
            {% endif %}
            {% if tripInfo.departureDate and tripInfo.returnDate %}&#8212;{% endif %}
            {% if tripInfo.returnDate %}
              <span class="c-trip-return-date">{{ tripInfo.returnDate  }}</span>
            {% endif %}
          </div>
          {% if tripInfo.ages %}
            <h4 class="age-header trip-info--prices--header">{{ 'Ages'|t }}:</h4>
            <span class="c-trip-info__ages">
              {{ tripInfo.ages  }}
            </span>
          {% endif %}
          {# Trip name. #}
          <table class="trip-info--prices">
            <tbody>
            {# Add invisivle th for wcag #}
            <tr class="hide"><th colspan="2">{{ 'Trip Prices'|t }}</th></tr>
              {% if tripInfo.productName %}
                <tr class="trip-info--prices--header"><td colspan="2" class="price--header">{{ 'Selected Plan'|t }}:</td></tr>
                <tr class="trip-info--price price">
                  <td class="trip-info--price--label">{{ tripInfo.planCostLineItem.label }}</td>
                  <td class="trip-info--price--value">{{ tripInfo.planCostLineItem.gross.formatted }}</td>
                </tr>
              {% endif %}
              {# Add-ons list. #}
              {% if tripInfo.addOnLineItems %}
                <tr class="trip-info--prices--header"><td colspan="2" class="c-trip-info__addons--header">{{ 'Add Ons'|t }}:</td></tr>
                {% for key,lineItem in tripInfo.addOnLineItems %}
                  <tr id= "item-{{ key }}" class="trip-info--price c-trip-info__addons">
                    <td class="trip-info--price--label">{{ lineItem.label }}</td>
                    <td class="trip-info--price--value">{{ lineItem.gross.formatted }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
              {# Emc list. #}
              {% if tripInfo.emcLineItems %}
                <tr class="trip-info--prices--header"><td colspan="2" class="trip-info__addons--header">{{ 'EMC'|t }}:</td></tr>
                {% for key,lineItem in tripInfo.emcLineItems %}
                  <tr class="trip-info--price c-trip-info__addons">
                    <td class="trip-info--price--label">{{ lineItem.label }}</td>
                    <td class="trip-info--price--value">{{ lineItem.gross.formatted }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
              {# Promo code. #}
              {% if tripInfo.totalPrice.discountAmount %}
                <tr class="trip-info--prices--header"><td colspan="2" class="trip-info__promo--header">{{ 'Promo'|t }}:</td></tr>
                <tr class="trip-info--price c-trip-info__promo">
                  <td class="trip-info--price--label">{{ 'Discount Applied: @promocode'|t({'@promocode': tripInfo.promocode}) }}</td>
                  <td class="trip-info--price--value">{{ tripInfo.totalPrice.discountAmount.formatted }}</td>
                </tr>
              {% endif %}
              <tr class="trip-info--rule"><td colspan="2"></td></tr>
              {% if tripInfo.totalPrice %}
                <tr class="total">
                  <td class="trip-info--price--label">{{ 'Total' }}</td>
                  <td class="trip-info--price--value c-trip-price_gross">{{ tripInfo.totalPrice.price }}</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endif %}
</div>
