<{{tag}} href="{{link}}" class="button {{modifier}}"> {{text}}</{{tag}}>

<!-- Anchors (links) -->
{# <a href="about.html" class="button">Learn More</a>
<a href="#features" class="button">View All Features</a> #}

<!-- Buttons (actions) -->
{# <button class="submit success button">Save</button>
<button type="button" class="alert button">Delete</button> #}

