<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    {# <link rel="stylesheet" href="../../css/vendor/zurb_foundation/css/foundation-float.css">
    <link rel="stylesheet" href="../../css/vendor/zurb_foundation/css/foundation-flex.css"> #}
    {# <link rel="stylesheet" href="../../css/vendor/zurb_foundation/css/foundation-prototype.css"> #}

    {# <link rel="stylesheet" href="../../css/vendor/zurb_foundation/css/motion-ui.css">
    <link rel="stylesheet" href="../../css/vendor/zurb_foundation/css/zurb_foundation.css">
    <link rel="stylesheet" href="../../css/vendor/foundation-icons/foundation-icons.css"> #}

    <link rel="stylesheet" href="../../theme/covermore_farmers/css/covermore_farmers.css?{{ cacheBuster }}" media="all" />
    {# <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" /> #}


    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    {{ patternLabHead | raw }}
    {# <link rel="stylesheet" href="http://127.0.0.1:3000/styleguide/css/pattern-lab.css?1642384723937&amp;_cacheOverride=1642385060471" media="all"> #}
    <!-- End Pattern Lab -->

    <style>
        .pl-c-tabs__panel code[class*=language-] {
            border: none;
            background: transparent;
        }
    </style>

</head>

<body class="{{ bodyClass }}">